html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
} 

.shadow-none {
	border: none;
}

.pointer {
	cursor: pointer;
}

.glass-bg {
	background-color: $glassBg;  
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	box-shadow: 0px 0px 5px 0px $shadowColor;
}