.img-box {
	overflow: hidden;
	min-width: 200px;
	height: 280px;
	z-index: 1;
}

.img-box img {
	width: 100%;
	height: 100%;
	transform-origin: 50% 50%;
	transform: scale(1);
	transition: transform 0.3s ease-out;
}

.img-box:hover img {
	transform: scale(1.1);
}
.img-box:hover {
	overflow: hidden;
}