
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$font: 'Great Vibes', cursive;
$black: #1d1d1d;
$black0: #000000;
$red: #cc040b;
$white: #ffffff;
$gold: #ffd700;
$glassBg: #dededea1;
$shadowColor: #000000bf;
$colBg: #e8e8e8;
$meniuActive: 2px solid #ed1c24;
$textShadow: 1px 1px 1px $black0,
1px 1px 1px $black0,
-1px 1px 1px $black0,
1px 1px 1px $black0;
$tooDist: #00000070;
$scrollColor1: #2e2e2e;
$scrollColor2: #1b1b1b;
$fixedCart: #a30101;
$fixedCartHov: #f10000;
$fixedCartCount: #ff041c;